<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 6, 2008</h4>
                                    <h4 class="subheading">Release first iOS SDK</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The SDK was released on March 6, 2008, and allows developers to make applications for the iPhone and iPod Touch, as well as test them in an "iPhone simulator".</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dcember 10, 2008</h4>
                                    <h4 class="subheading">First Cocoaheads meetup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">On december 10th, 2008 the first CocoaHeads meetup in Amsterdam was held.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 7, 2013</h4>
                                    <h4 class="subheading">Transition to Jeroen Leenarts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Previously run by Cathy Shive and Peter Robinett the organisation of CocoaHeads changes to Jeroen Leenarts.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2, 2014</h4>
                                    <h4 class="subheading">Started using meetup</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeroen Leenarts, together with Niels van Hoorn and Bart Hoffman switch to the use of Meetup.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2, 2015</h4>
                                    <h4 class="subheading">Registered as a non-profit foundation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jeroen Leenarts, together with Niels van Hoorn and Bart Hoffman register CocoaHeadsNL as a non-profit foundation at the dutch chamber of commerce</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 24, 2015</h4>
                                    <h4 class="subheading">Launched our open-source app</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">What fun would a community of App Developers be without our own open-source app?<br><br><a href="https://geo.itunes.apple.com/us/app/cocoaheadsnl/id998188273?mt=8&uo=6&at=1010l8D" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}"></a> </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 21, 2016</h4>
                                    <h4 class="subheading">Sidney joins the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our community keeps on growing. We are getting more and more sponsors. We needed more capacity. Sidney de Koning joins as an organizing member</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>