<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
	
	<meta name="google-site-verification" content="P9MmkloUusxDwFvHsNLvbaoZ1RwjDpnpM_KmXx-ng-c" />
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<meta name="description" content="Cocoaheads is a monthly meeting of iOS developers in the Netherlands" />
			<meta name="keywords" content="iOS developer, Mac developer, ios vacature, Cocoa, Xcode, Amsterdam, ,iOS, iPhone, iPad, Mac, Meeting, Developers, Development" />
			
			<meta property="og:url" content="http://cocoaheads.nl" />
			<meta property="og:title" content="Stichting CocoaHeadsNL" />
			<meta property="og:summary" content="Cocoaheads is a monthly meeting of iOS developers in the Netherlands" />
			<meta property="og:site_name"content="Stichting CocoaHeadsNL" />
			<meta property="og:type" content="website" />
			<meta property="og:locale" content="en_US" />
			<meta property="og:image" content="http://cocoaheads.nl/images/CocoaHeadsNL.png" />
			<meta property="og:config" content="Cocoaheads is a monthly meeting of iOS developers in the Netherlands" />
			<meta name="twitter:card" content="summary" />
			<meta name="twitter:site" content="@cocoaheadsnl" />
			<meta name="twitter:description" content="Cocoaheads is a monthly meeting of iOS developers in the Netherlands" />
			<meta name="apple-itunes-app" content="app-id=998188273" />

			<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
			<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-panels.min.js"></script>
			<script src="js/init.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-59854133-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
	</noscript>

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
