<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is Cocoaheads?</h2>
					<h4 class = "service-heading">
						<h4 class="service-heading"></h4><p>
A monthly meeting of iOS and Mac developers in the Netherlands and part of the international CocoaHeads.org.<br> Every month we organize a meeting at a different venue including food and drinks sponsored by companies. <br> You can now download our app to stay up to date

																									<br><br>
																									<a href="https://geo.itunes.apple.com/us/app/cocoaheadsnl/id998188273?mt=8&uo=6&at=1010l8D" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}"></a>
																									<br><br></p>
				
			    <aside class="clients">
			        <div class="container">
			            <div class="row">
			                <div class="col-md-4 col-sm-4">
			                    <a href="http://www.xebia.com">
			                        <img src="img/xebia.png" class="img-responsive img-centered" alt="">
			                    </a>
								          <p class="text-muted">Xebia explores and creates new frontiers in IT. We provide innovative products and services and strive to stay one step ahead of our customers’ needs. We turn new technology trends into business advantages. </p>
			                </div>
			                <div class="col-md-4 col-sm-4">
			                    <a href="http://www.egeniq.com">
			                        <img src="img/egeniq.png" class="img-responsive img-centered" alt="">
			                    </a>
								<p class="text-muted">We are a young mobile technology company developing apps for various platforms and devices. A solid foundation in software engineering and practical experience are the key ingredients in our activities.</p>
			                </div>
      			                <div class="col-md-4 col-sm-4">
      			                    <a href="http://www.nyon.com">
      			                        <img src="img/logo-nyon_black_website.png" class="img-responsive img-centered" alt="">
      			                    </a>
      								<p class="text-muted">Nyon is a growing startup company, delivering mobile and web applications for fashion buying. We focus on our mix of strong technical skills with a deep inside understanding of how fashion buying works.</p>
      			                </div>
                      
			                <!-- <div class="col-md-4 col-sm-4">
                          <a href="http://www.nyon.com">
                              <img src="img/logo-nyon_black_website.png" class="img-responsive img-centered" alt="">
                          </a>
                <p class="text-muted">Nyon is a growing startup company, delivering mobile and web applications for fashion buying. We focus on our mix of strong technical skills with a deep inside understanding of how fashion buying works.</p>
                      </div> -->
			            </div>
			            <div class="row">
			                <div class="col-md-4 col-sm-4 col-md-push-2 col-sm-push-2">
			                    <a href="http://www.ing.com">
			                        <img src="img/logo100-ing.png" class="img-responsive img-centered" alt="">
			                    </a>
								<p class="text-muted">Global financial institution of Dutch origin, currently offering banking, investments, life insurance and retirement services to meet the needs of a broad customer base. Building the best Dutch banking app.</p>
			                </div>
			                <div class="col-md-4 col-sm-4 col-md-push-2 col-sm-push-2">
			                    <a href="http://www.thecapitals.nl">
			                        <img src="img/thecapitals.png" class="img-responsive img-centered" alt="">
			                    </a>
								<p class="text-muted">The Capitals designs and builds customer experiences for touch screen and other interactive devices. Their work always combines creativity, technology and their clients’ business goals.</p>
			                </div>
			            </div>
			        </div>
			    </aside>
                </div>
            </div>
     
            </div>
        </div>
    </section>